pdfminer.six
python-docx
nltk
spacy
scikit-learn
fuzzywuzzy
pandas
streamlit
pdfminer.six
python-docx

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz


# streamlit →  For building the web app
# spacy →  For NLP-based keyword extraction
# pdfminer.six →  For extracting text from PDF files
# python-docx →  For extracting text from DOCX files
# scikit-learn →  For TF-IDF + Cosine Similarity calculation
